$textGray: #817B7B;

@for $i from 0 through 15 {
    // Paddings
    .p#{$i}{
        padding: #{$i}rem !important;
    }
    .pl#{$i}{
        padding-left: #{$i}rem !important;
    }
    .pr#{$i}{
        padding-right: #{$i}rem !important;
    }
    .pt#{$i}{
        padding-top: #{$i}rem !important;
    }
    .pb#{$i}{
        padding-bottom: #{$i}rem !important;
    }

    .px#{$i}{
        padding-left: #{$i}rem !important;
        padding-right: #{$i}rem !important;
    }

    .py-#{$i}{
        padding-top:#{$i}rem  !important;
        padding-bottom:#{$i}rem  !important;
    }

        // margins
        .m#{$i}{
            margin: #{$i}rem !important;
        }
        .ml#{$i}{
            margin-left: #{$i}rem !important;
        }
        .mr#{$i}{
            margin-right: #{$i}rem !important;
        }
        .mt#{$i}{
            margin-top: #{$i}rem !important;
        }
        .mb#{$i}{
            margin-bottom: #{$i}rem !important;
        }
        .mx#{$i}{
            margin:0 #{$i}rem !important;
        }
        .my#{$i}{
            margin:#{$i}rem 0 !important;
        }

}

.dFlex{
    display: flex !important;
}

.flexDC{
    flex-direction: column !important;
}

.dNone{
    display: none !important;
}

.justifyContentCenter{
    justify-content: center;
}
.justifyContentEnd{
    justify-content: flex-end;
}
.justifyContentStart{
    justify-content: flex-start;
}

.alignItemsStart{
    align-items: flex-start;
}

.alignItemsEnd{
    align-items: flex-end;
}

.alignItemsCenter{
    align-items: center;
}

.border{
    border:1px solid #FCFCFC !important;
}

.borderBottom{
    border-bottom:2px solid #EBEBEB !important;
}
.borderRight{
    border-right:2px solid #EBEBEB !important;
}

.borderRadius{
    border-radius: 6px !important;
}