@import "_globals";

.hiringManagers{
    padding: 3px 9px;
    border-radius: 25px;
}

.card{
    background: linear-gradient(90deg, rgba(241,239,250,1) 0%, rgba(255,255,255,1) 100%);
    box-shadow: none !important;
    text-align: start;

}