@import "_globals";

.leadingText{
    background:url(../../public/images/bg-login.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.form {
    width: 100%;
    .passwordLabel {
        label {
            width: 100% !important;
            & > div {
                display: flex;
                width: 100%;
                justify-content: space-between;
            }
        }

    }

        .formLabel{
            position: relative;
            display: inline-block;
    
            &::after{
                content:"*";
                color:red;
                display: block;
                position: absolute;
                z-index: 2;
                top: 2px;
                right: -9px;
       
            }
        }
    
    .remember {
            .ant-form-item-control-input-content{
                display: flex !important;
                justify-content: space-between !important;
            }
            div:last-child {
                display: flex;
                justify-content: space-between;
            }
        }
    }